@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";


@theme {
  --color-greenLight: hsl(148, 38%, 91%);
  --color-greenMedium: hsl(169, 82%, 27%);
  --color-red: hsl(0, 66%, 54%);

  --color-graylight: hsl(186, 15%, 59%);
  --color-graydark: hsl(187, 24%, 22%);
  --font-normal: "DM Sans", sans-serif;
  --font-normal: 16px;
}

* {
  font-family: "DM Sans", sans-serif;
}